{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
        {% set icon %}
            {{ include('@Google/inspector/icon.svg.twig', { fill_color: '#AAA', height: '24' }) }}
        {% endset %}

        {%- set text -%}
            {% for bundle in collector.data._bundles %}
            <div class="sf-toolbar-info-piece">
                <b>{{bundle.name}}</b>
                <span class="sf-toolbar-status">{{ bundle.version }}</span>
            </div>
            {% endfor %}

            {% for key,data in (collector.data| filter((v, k) => k != '_bundles')|first) %}
                {% if data is defined and (data|trim) is not empty %}
                <div class="sf-toolbar-info-piece">
                    <b>{{key}}</b>
                    <span class="sf-toolbar-status">{{ data }}</span>
                </div>
                {% endif %}
            {% endfor %}
        {%- endset -%}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block menu %}
    <span class="label {#{ not collector.isEasyAdminRequest ? 'disabled' }#}">
        <span class="icon">{{ include('@Google/inspector/icon.svg.twig', { fill_color: '#AAA', height: '24' }) }}</span>
        <strong>Google Tag Manager</strong>
    </span>
{% endblock %}

{% block panel %}

    {% for title, data in collector.data %}
        {% if not (title starts with '_') %}
            <h2>{{ title|raw }}</h2>
            {% if data is not iterable or data is empty %}
                <div class="empty"><p>No specific information available.</p></div>
            {% else %}
                {{ include('@WebProfiler/Profiler/table.html.twig', {data:data}, with_context = false) }}
            {% endif %}
        {% endif %}
    {% endfor %}

{% endblock %}
